* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.section1 {
  background-image: url("images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.flexible {
  display: flex;
}
.side-by-side {
  width: 50%;
  padding-left: 20px;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  /* font-size: 40px; */
  padding-left: 20px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 8px;
}
li a {
  text-decoration: none;
  color: rgb(97, 85, 19);
  font-size: small;
  padding-left: 10px;
  font-weight: 700;
}
li a:hover {
  color: tomato;
}
.side-by-side img {
  width: 100%;
}
#about {
  padding-top: 40px;
  padding-left: 60px;
}
#font-size {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-weight: 300;
}
.fashion-image {
  width: 100%;
  margin: 0 auto;
}
.sideView {
  padding-top: 25px;
}
.column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}
